.znamky{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2%
}

.znamka{
    width: 98%;
    height: 17.5%;
    
}
.obdrzena_znamka{
    font-size: large;
}