.main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.klasifikace{
    display: flex;
    background-color: rgba(253, 253, 253, 0.3);
    width: 100%;
    height: fit-content;
    border-radius: 3px;
    padding: 1% 1%;
    gap: 2%;

}
.form{
    width: 100%;
    border-radius: 3px;
    background-color:rgba(253, 253, 253, 0.3);
    padding: 3% 2%;
}
.preview{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    background-color:rgba(253, 253, 253, 0.3);
    padding: 3% 2%;
    gap: 2%;
}
.zak{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 1% 2%;
    width: 100%;
    height: min-content;
    margin: 0;
}
.zak > *{
    margin: 0;
}
.znamky{
    display: flex;
    flex-direction: column;
    
    
}
.znamka{
    display: flex;
    background-color: aquamarine;
    padding: 2%;
    border-radius: 3px;
    align-items: center;
    gap: 2%;
}
.znamka > *{
    margin: 0;
}
.grade{
    font-weight: bold;
    font-size: large;
    white-space: nowrap;
}