.main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: left;
}
.main > *{
    margin: 0;
}
.heading{
    padding-bottom: 0.5rem;
    color: #fff;
    font-size:x-large;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.klasifikace{
    display: flex;
    background-color: rgba(253, 253, 253, 0.3);
    width: 100%;
    height: fit-content;
    border-radius: 3px;
    padding: 1% 1%;
    gap: 2%;

}
.form{
    width: 100%;
    border-radius: 3px;
    background-color:rgba(253, 253, 253, 0.3);
    padding: 3% 2%;
}
.preview{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    background-color:rgba(253, 253, 253, 0.3);
    padding: 3% 2%;
    gap: 2%;
}
.zak{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 3px;
    width: 100%;
    height: min-content;
    margin: 0;
}
.zak > *{
    margin: 0;
}
.zak_info{
    padding: 2% 1% 0% 1% ;
}
.znamky{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
    
}
.znamka{
    display: flex;
    background-color: rgba(255, 255, 255, 0.447);
    padding: 2%;
    border-radius: 3px;
    align-items: center;
    gap: 2%;
}
.znamka > *{
    margin: 0;
    font-size: small;
}
.grade{
    font-weight: bold;
    font-size: large;
    white-space: nowrap;
}