.main{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    padding: 10px 0px 0px;
  
    position: static;
    width: 100%;
    height: fit-content;
    left: 44.5px;
    top: 115px;
    background-color: rgb(0, 81, 131);
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 0.5% 1%;
    gap: 1%;
}

